[Unit]
Description=teeworlds server

[Service]
User={{ teeworlds__user }}
Group={{ teeworlds__user }}
WorkingDirectory={{ teeworlds__install_dir }}/current
ExecStart={{ teeworlds__install_dir }}/current/teeworlds_srv -f server.cfg

[Install]
WantedBy=multi-user.target